<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrapv3/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrapv3/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="pages.css">
		<link rel="stylesheet" type="text/css" href="style.css">

		<title>
			Elevator Queuing Simulator
		</title>
	</head>
	<body class="bg-gradient full-height">
		<div class="row my-border fullWidth">
	      	<div class="header">
	        	<div>
	            	<div class="p-l-40 inline">
	              		<h3>Elevator Queue Simulation Project</h3>
	            	</div>
	        	</div>
	      	</div>
		</div>


		<script type="text/javascript" src="../node_modules/jquery/dist/core.js"></script>
		<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="../node_modules/jquery/dist/jquery.slim.js"></script>
		<script type="text/javascript" src="../node_modules/bootstrapv3/js/bootstrap.js"></script>
		<script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
		<script type="text/javascript" src="../node_modules/lodash/lodash.js"></script>
		<script src="../node_modules/jStat/dist/jstat.js"></script>
		<!-- <script src="../node_modules/react/dist/react.js"></script>
		<script src="../node_modules/react-dom/dist/react-dom.js"></script> -->
		<script src="../models/QueuingSystem.js"></script>
		<script src="../models/Elevator.js"></script>
		<script src="../models/Material.js"></script>
		<script src="../models/Queue.js"></script>
		<script src="index.js"></script>
	</body>
</html>
