<html>
	<title>
		Elevator Queuing Simulator
	</title>
	<body>
		<div id="app">
		</div>
		<script src="../node_modules/jStat/dist/jstat.js"></script>
		<!-- <script src="../node_modules/react/dist/react.js"></script>
		<script src="../node_modules/react-dom/dist/react-dom.js"></script> -->
		<script src="../models/QueuingSystem.js"></script>
		<script src="../models/Elevator.js"></script>
		<script src="../models/Material.js"></script>
		<script src="../models/Queue.js"></script>
		<script type="text/jsx" src="index.js"></script>
	</body>
</html>
