<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">

		<title>
			Elevator Queuing Simulator
		</title>
	</head>
	<body>
		Hello World!
		<div id="app">
		</div>

		<script type="text/javascript" src="../node_modules/lodash/lodash.js"></script>
		<script src="../node_modules/jStat/dist/jstat.js"></script>
		<script src="index.js"></script>
		<script src="../models/Elevator.js"></script>
		<script src="../models/Material.js"></script>
		<script src="../models/Queue.js"></script>
		<script src="../models/QueuingSystem.js"></script>
	</body>
</html>
